#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Sinhrz
GenericName=Sinhrz
Comment=A simple folder synchronisation tool
Icon=emblem-synchronizing
Type=Application
Categories=Utility
Keywords=sync
Exec=sinhrz-gui
Terminal=false
